<section id="game"
  class="w-full max-w-[1920px] h-[100vh] max-h-[1080px] flex justify-center md:justify-end bg-game bg-no-repeat bg-cover items-center  p-4 shadow-lg relative"
>
  <iframe
    title="Lumber Jack Game"
    src="https://tbot.xyz/lumber/"
    class="border-4 border-secondary/50 shadow-secondary rounded-lg shadow-lg w-full max-w-[605px] h-full max-h-[800px] md:w-[70%]"
  />
</section>
