<section id="hero" class="w-full h-screen max-h-[720px]">
    <h1>Dot Dager</h1>
    <p>
      ¡Hola! Soy Mariano, también conocido como Dot Dager, un apasionado
      creador de contenido que encuentra inspiración en lo que amo: la
      programación, los gatos, las guitarras, los pepinos y la filosofía.
    </p>
    <p>
      Mi enfoque se basa en combinar creatividad y tecnología para crear cosas
      que reflejen mi personalidad única. Disfruto explorar nuevas ideas y
      encontrar formas interesantes de compartirlas con el mundo.
    </p>
  </section>