---
import { undefined } from "astro:schema";
import * as data from "../../content/passions.json";
import Passion from "../Passion.astro";

const { passions } = data;
---

<section
  id="about"
  class="w-full h-content min-h-screen md:pt-24 p-2 relative flex flex-col"
>
  <h2
    class="font-bold text-3xl text-center bg-gradientcolor bg-clip-text text-transparent"
  >
    Mis Pasiones
  </h2>
  <div class="w-full flex-1  flex flex-wrap gap-2 justify-around">
    {
      passions?.map((passion) => (
        <Passion
          name={passion.name}
          description={passion.description}
          link={passion.link && passion.link}
          imgName={passion.imgName && passion.imgName}
          pYoutube={passion.pYoutube}
          nameYT={passion.nameYT}
        />
      ))
    }
  </div>
</section>
