<section id="about" class="w-full h-max">
    <h2>Mis Pasiones</h2>
    <article>
      <div class="">
        <h4 class="bg-gradientcolor h-max bg-cover bg-clip-text text-transparent">Programación</h4>
        <p>
          La programación es mi herramienta favorita para dar vida a ideas
          abstractas. Me encanta resolver problemas, construir soluciones
          funcionales y explorar nuevas tecnologías. Cada línea de código es
          una oportunidad para aprender algo nuevo, mejorar mis habilidades y
          contribuir a proyectos que marquen una diferencia. Para mí,
          programar es tanto un desafío intelectual como una forma de
          expresión creativa.
        </p>
      </div>
    </article>
  </section>